.acceder{
    width: 200px !important;
}
.logoclave{
    width: 170px;
}

.overflow{
    overflow: hidden;
}
.bg-galleta{
    background-color: #f6f9fc !important;
}

.cl-icono{
    width: 70px;
}
.top-110{
    top: 110px;
}
.right-40{
    right: 40px;
}
#cpechsm{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.me-20{
    margin-right: 20px;
}
.ms-20{
    margin-left: 20px;
}