.acceder {
    width: 200px !important;
}

.logoclave {
    width: 170px;
}

.overflow {
    overflow: hidden;
}

.bg-galleta {
    background-color: #f6f9fc !important;
}

.cl-icono {
    width: 70px;
}

.top-110 {
    top: 110px;
}

.right-40 {
    right: 40px;
}
.color-furia{
    color: #313c47;
}
.fw-500{
    font-weight: 500;
}
.h-430{
    height: 430px !important;
}

#cpechsm {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}

.me-20 {
    margin-right: 20px;
}

.ms-20 {
    margin-left: 20px;
}

.btn-componente {
    width: 266px !important;
}

.r-0 {
    right: 0px !important;
    position: absolute;
    top: 0px;
}
.end-0{
    right:0% !important ;
    
}
.top-50{
    top:50% !important ;
    
}
.top-135{
    top: 135px !important;;
}
.right--25{
    right: -25px !important;
}


@media screen and (max-width: 800px) {
    .dis-none {
        display: none;
    }
}